
body {
   background-image: url("css/backg.png");

  background-color: black;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
body {
  text-align: center;
}
form{
  /* background-color: gray; */
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  text-align: center;
  position: fixed;
  background: black;
  align-content: center;
  width: -webkit-fill-available;
}

#content {
  margin-top: 100px;
}