
<!DOCTYPE html>
<html>
    <%- include('partials/header') -%>
    
    <body>
        <div class="header">
            <h1> NASA Image Search </h1>
            
            <hr color="white">
            
            <!-- <hr color="white"> -->
        </div>
        <br><br>
        
        <div class="content">
            <form action="/results" method="GET">
                <br>
                
                Latitude: <input type="text" name="keyword">
                Longitude: <input type="text" name="keyword">
                <br><br>
                
                <!-- Date Dropdown -->
                <label for="date">Date:</label>
                <input type="date" id="date" name="date">

                <br><br>
                <button> Search! </button> 
                <br><br>
            </form> <br><br>
        </div>
        <br>
        <img src='<%= images.url %>' width='1000'>
        <br><br>

    </body>
</html>