<!DOCTYPE html>
<html>
    <%- include('partials/header') -%>
    <body>

        <h1> Pixabay Search (Express Version) </h1>
        
        <form action="/results" method="GET">
            
            Keyword: <input type="text" name="keyword">
            Orientation: 
            <select id="orientation" name="orientation">
              <option value="horizontal">Horizontal</option>
              <option value="vertical">Vertical</option>
            </select>
            <br><br>
            <button> Search! </button> 
        </form> <br><br>

        <img src='<%= images.url %>' width='1000'>
        <br><br>

    </body>
</html>