 <%- include('partials/header') -%>

<div class='container'>
        <a class='btn-primary' href='/'>Main Page</a>
		<a class='btn btn-danger' href='/logout'>Logout</a>
	</div>
	
	<h1>Welcome <%=user%> </h1>
	
</div>